*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Lato', sans-serif;
}

/* --------------------BARRA SUPERIOR-------------------------- */
    .barra-superior{
        overflow: hidden;
        background: white;
        height: 5vw;
        position: fixed;
        top:0;
        width: 100%;
        z-index: 10;
        
    }

    .contenedor-logo{
        float: left;
        width: 5vw;
        height: 5vw;
    }

    .contenedor-logo svg{
        width: 100%;
    }

    .contenedor-menu{
        float: right;
        width: 5vw;
        height: 5vw;
    }

    .contenedor-menu svg{
        width: 100%;
    }

/* ------------------------CABECERA--------------------------- */

    .caja-cabecera{
        height: 100vh;
        background: white;
        margin: 0;
        padding:0;
    }

    h1{
        margin: 0;
        padding: 30vh;
        font-size: 8rem;
        text-align: center;
        width: 100%;
        color: rgb(43, 43, 43);
        /* position: absolute; */
        display:none; 
    }

    .flecha{
        width: 3px;
        height: 10vh;
        background: black;
        margin: auto;
        position: absolute;
        top: 90vh;
        left: 50vw;
    }

/* ----------------------MENU--------------------------     */

header div{
    background-color: rgb(43, 43, 43);
    position: fixed;
    top: 5vw;
    bottom: 5vw;
    width: 0vw;
    z-index: 20;
    transition: all 0.5s;
}

header .izquierda{
    left: 5vw;
}

header .derecha{
    right: 5vw;
}

header .menu-desplegado{
width: 51vw;
}


/* ---------------------------MAIN------------------------ */

    .contenedor{

        width: 90%;
        max-width: 2000px;
        height: 8000px;
        overflow: hidden;
        background: chartreuse;
        position: relative;
        margin: auto;
    }

    button{
        height: 10vh;
        width: 20vw;
    }

    .imagen{
        position: absolute;
        height: auto;
        overflow: hidden;
    }

    .imagen img{
        vertical-align: top;
        width: 100%;



    }

    .contenedor-cortina{
        position: relative;
        width: 100%;
        height: 100%;
    }

    .cortina{
        position: absolute;
        background: rgb(43, 43, 43);
        color:white;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: none;

    }


    .tags{
        width: 100%;
        background: white;
        position: fixed;
        bottom: 0;
        z-index: 10;
        height: 5vw;
        display: none;
    }

    .titulo{
        float: right;
        padding-top: 30%;
        padding-right: 2em;
        font-weight: 900;
        font-size: 1.5rem;
        max-width: 50%;
        text-align: left;
    }




