html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /*igual para otros navegadores */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  /*elegir la familia de fuente que se quiere*/
}

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: white;
}

h1, h2, p, ol, ul {
  font-size: inherit;
  margin: 0;
  padding: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
}

main, li {
  display: block;
}

img {
  border-style: none;
  vertical-align: top;
  width: 100%;
  height: auto;
}

button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

:focus {
  outline: 0;
}

.barra-superior {
  overflow: hidden;
  background: white;
  height: 5vw;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.contenedor-logo {
  float: left;
  width: 5vw;
  height: 5vw;
}

.contenedor-logo svg {
  width: 100%;
}

.contenedor-menu {
  float: right;
  width: 5vw;
  height: 5vw;
}

.contenedor-menu svg {
  width: 100%;
}

.caja-cabecera {
  height: 100vh;
  background: white;
  margin: 0;
  padding: 0;
  transition: all 900ms cubic-bezier(0.67, 0.08, 0.25, 1.505);
}

.recogida {
  height: 5vw;
}

h1 {
  margin: 0;
  padding: 20vh;
  font-size: 8rem;
  text-align: center;
  width: 100%;
  color: #2b2b2b;
  position: fixed;
  display: none;
}

.flecha {
  width: 3px;
  height: 10vh;
  background: black;
  margin: auto;
  position: absolute;
  top: 90vh;
  left: 50vw;
}

header .cortina-menu {
  background-color: #2b2b2b;
  position: fixed;
  top: 5vw;
  bottom: 5vw;
  width: 0vw;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

header .cortina-menu:nth-of-type(1) {
  left: 4.8vw;
}

header .cortina-menu:nth-of-type(2) {
  right: 4.8vw;
}

nav {
  height: auto;
  position: fixed;
  top: 5vw;
  left: 5vw;
  width: 90%;
  z-index: 30;
  opacity: 0;
  transition: 0.3s;
}

nav ul {
  height: auto;
  display: none;
  flex-direction: column;
  padding: 1em;
}

nav ul li {
  font-size: 3vmax;
  color: white;
  font-weight: 900;
  flex: 0;
  padding: 0.1em;
}

nav ul li:nth-child(6) {
  flex: 1;
}

nav ul li a {
  color: white;
}

svg path {
  transition: 0.2s;
}

input[type="checkbox"]:checked {
  /*  ~ header nav{
        display: block; 
        opacity: 100;
        ul{display:flex;}
    }*/
}

input[type="checkbox"]:checked ~ header .cortina-menu {
  width: 51vw;
}

input[type="checkbox"]:checked + label #arriba {
  d: path("M22.2,22.2 L77.5,77.5");
}

input[type="checkbox"]:checked + label #abajo {
  d: path("M22.2,77.5 L77.5,22.2");
}

.contenedor {
  width: 90%;
  max-width: 2000px;
  height: 8000px;
  overflow: hidden;
  background: white;
  position: relative;
  margin: auto;
}

.imagen {
  position: absolute;
  height: auto;
  overflow: hidden;
}

/*.imagen img{
    vertical-align: top;
    width: 100%;

}*/
.contenedor-cortina {
  position: relative;
  width: 100%;
  height: 100%;
}

.cortina {
  position: absolute;
  background: #2b2b2b;
  color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

.cortina .titulo {
  float: right;
  padding-top: 30%;
  padding-right: 2em;
  font-weight: 900;
  font-size: 1.5rem;
  max-width: 60%;
  text-align: right;
}

.tags {
  width: 100%;
  background: white;
  position: fixed;
  bottom: 0;
  z-index: 10;
  /* height: 5vw; */
  height: 0;
  transition: all 900ms cubic-bezier(0.67, 0.08, 0.25, 1.505);
}

.tag-desplegado {
  height: 5vw !important;
}

.ajuste-pie {
  width: 100%;
  height: 5vw;
}

.ocultar {
  display: none;
}

.posicion, .posicion-1, .posicion-2, .posicion-3, .posicion-4 {
  width: auto !important;
  position: fixed;
  height: auto !important;
}

.posicion-1 {
  top: 5vw !important;
  left: 5vw !important;
}

.posicion-2 {
  top: auto !important;
  bottom: 5vw !important;
  right: 5vw !important;
  left: auto !important;
}

.posicion-3 {
  top: auto !important;
  bottom: 5vw !important;
  right: auto !important;
  left: 5vw !important;
}

.posicion-4 {
  top: 5vw !important;
  bottom: auto !important;
  left: auto !important;
  right: 5vw !important;
}
