*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.contenedor-principal{
  position: relative;
  width: 100%;
  height: 100vh;
}

.contenedor-logo{
    float: left;
    width: 5vw;
    height: 5vw;
}

.contenedor-logo svg{
    width: 100%;
}

.contenedor-menu{
    float: right;
    width: 5vw;
    height: 5vw;
}

.contenedor-menu svg{
    width: 100%;
}

.contenedor-patterns{
    position: absolute;
    top: 5vw;
    bottom: 5vw;
    right: 5vw;
    left: 5vw;
    background: url(../img/patterns/pattern2.jpg);
    background-position: center;
    background-position-y: top;
    background-repeat: repeat;
    background-size: 60%;
}

button{
    color: rgb(43, 43, 43);
    font-size: 3rem;
    font-weight: 900;
    width: auto;
    border: none;
    outline: 0;
    position: absolute;
    bottom: 1vw;
    right: 1vw;
    background-color: transparent;
    transition: all 0.5s;
    cursor: pointer;
    
}

button:hover{
    font-size: 3.5rem;
    color: black;
}





