#about .cortina-roja{
    position:fixed;
    background: $colorAbout;
    top:0;
    bottom:0;
    left:-50vw;
    right: 100vw;
    transition: all 0.7s ease;
    z-index:$zIndexAbout;
    overflow: hidden;
}

.desplegado{
    right: 0vw !important;
    animation: animaEntradaCortina 0.7s ease;
    &-texto{animation: animaSalidaCortina 0.7s ease; display:block}
}

.replegado{
   transition-delay: 1s !important;
   animation-delay: 1s !important;
    animation: animaSalidaCortina 0.7s ease;
    &-texto{animation-delay: 1s !important; animation: animaEntradaCortina 0.7s ease;}
}

#about .contenedor-redes svg .circulo{
  fill: $colorFuente;
}

.iconos-redes{
  width: $margenCuadro;
  height: 100%;
  margin: 0 2vw;
  a{
    padding: 5px;
    width: 100%;
    display: block;
    svg{width: 100%; }
  };
  transition: transform 0.7s $curvaRedes;
}

.contenedor-redes .mostrar{         //transición para que se muestren los iconos
  transform: translateY(-7vw);
}



.contenedor-redes{
  position: fixed;
  top: 100vh;
  height: 7vw;
  width: 100%;
  margin: auto;
  z-index: $zIndexIconosRedes;
  margin: auto; 
  display: flex;
  justify-content: center;
  .instagram{transition-delay: 0.2s}
  .facebook{transition-delay: 0.5s}
  .behance{transition-delay: 0.8s}
  
}

.texto-about{
  color: $colorFondo;
  padding: 20vh 20vw;
  padding-left: 70vw;
  font-size: 5vmin;
  height: 100%;  
  width: 150vw;
  display:none;
}




@keyframes animaEntradaCortina{
    0%{
      transform: skewX(0deg);
    }
    50%{
      transform: skewX(-20deg);
    }
    100%{
      transform: skewX(0deg);
    }
  }

@keyframes animaSalidaCortina{
    0%{
      transform: skewX(0deg);
    }
    50%{
      transform: skewX(20deg);
    }
    100%{
      transform: skewX(0deg);
    }
}