.fondo-barra{
    background: $colorFondo;
    height: $margenCuadro;
    position: fixed;
    top:0;
    width: 100%; 
    z-index: $zIndexFondoBarra;
}

.contenedor-iconos{
   // overflow: hidden;
    background: transparent;
    height: $margenCuadro;
    position: fixed;
    top:0;
    width: 100%;
    z-index: $zIndexContenedorIconos;
    
}

.contenedor-logo{
    float: left;
    width: $margenCuadro;
    height: $margenCuadro;
    svg{width:100%}       //tamaño del logo dentro de la caja
    z-index: 120;
}

.contenedor-menu{
    float: right;
    width: $margenCuadro;
    height: $margenCuadro;
    svg{width: 100%}        //Tamaño del icono de menú dentro de la caja
}

svg line{
    fill: none;
    stroke:$colorFuente;
    stroke-width: 13px;
    transition: transform 0.5s $curvaRebote;
    transform-origin: 50% 50%;
  
  }

  
svg #aro{fill:none; stroke: $colorFuente; stroke-width:12px;}
svg #bola-ojo{fill: $colorFuente}



