.caja-cabecera{
    height: 100vh;
    background: $colorCabecera;
    margin: 0;
    padding:0;
    transition: all 900ms $curvaRebote;
    .contenedor-texto{
        position: fixed;
        width: 100%;
        height: 100vh;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
  
}

.recogida{                      //Plantearse cambiar de documento??
    height: $margenCuadro;
}

h1{
    margin: 0;
    font-size: 10vmin;
    text-align: center;
    width: 100%;
    color: $colorFuente;
}

