
.caja-cabecera{
    height: 100vh;
    background: $colorCabecera;
    margin: 0;
    padding:0;
    transition: all 900ms $curvaRebote;
    .contenedor-texto{
        position: fixed;
        width: 100%;
        top:0;
        bottom:0;
        display:flex;
        flex-direction: column;
        justify-content: center;
        
    }
     .flecha{
        width: 10%;
        max-width: 4rem;
        height: auto;
        position: fixed;
        bottom: 1vh;
        margin-left: 47%;
     }
  
}

.recogida{                      //Plantearse cambiar de documento??
    height: $margenCuadro;
}

h1{
    margin: auto;
    font-size: 9vmin;
    text-align: center;
    width: 90%;
    color: $colorFuente;
    .hola{
        font-size: 14vmin;
        font-weight: 900;
    }
}

