
html {
    line-height: 1.15; /* 1 */
    -ms-text-size-adjust: 100%;     /*igual para otros navegadores */
    -webkit-text-size-adjust: 100%; /* 2 */
    font-size: 16px;
  }
  
  *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: $tipografia;  /*elegir la familia de fuente que se quiere*/
  }
  
  body {
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background: $colorFondo;
  }
  
  
  h1, h2, p, ol, ul {
    font-size: inherit;
    margin: 0;
    padding: 0;
  }
  
  a {
    background-color: transparent;
    text-decoration: none;
  }
  
  main, li{
    display: block;
  }
  
  
  img {
    border-style: none;
    vertical-align: top;
    max-width: 100%;
    height: auto;
  }
  
  
  button {
    overflow: visible;
    border: 0;
    font: inherit;
    -webkit-font-smoothing: inherit;
    letter-spacing: inherit;
    background: none;
    cursor: pointer;
  }
  ::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  :focus {
    outline: 0;
  }
  
  