.ocultar{
    display: none;
}

.posicion{
    width: auto !important;
    position: fixed;
    height: auto !important;
}

.posicion-1{
    @extend .posicion;
    top: 5vw !important;
    left: 5vw !important;
}

.posicion-2{
    @extend .posicion;
    top: auto !important;
    bottom: 5vw !important;
    right: 5vw !important;
    left: auto !important;
}

.posicion-3{
    @extend .posicion;
    top: auto !important;
    bottom: 5vw !important;
    right: auto !important;
    left: 5vw !important;
}

.posicion-4{
    @extend .posicion;
    top: 5vw !important;
    bottom: auto !important;
    left: auto !important;
    right: 5vw !important;
}
