.contenedor{

    width: $anchoContenedor;
    max-width: 2000px;
    height: 8000px;  //mirar si necesito este valor
    overflow: hidden;
    background:$colorFondo;
    position: relative;
    margin: auto;

}


.imagen{
    position: absolute;
    height: auto;
    overflow: hidden;
}


.contenedor-cortina{
    position: relative;
    width: 100%;
    height: 100%;
    &:hover .cortina{height: 100%}
}

.cortina{
    position: absolute;
    background: $colorFuente;
    color: $colorFondo;
    top: 0;
    width: 100%;
    height: 0;
    transition: height 0.3s ease-in-out;
    overflow: hidden;
   

    .titulo{
        float: right;
        padding-top: 30%;
        padding-right: 2em;
        font-weight: 900;
        font-size: 1.5rem;
        max-width: 60%;
        text-align: right;
    }
}
