@media screen and (max-width:500px){
   
    .contenedor{
        width: 100%;
    }
    .ajuste-pie{
        display: none !important;
    }
    .barra-superior{
        height: 14vw;
        background: transparent;
        overflow: visible;
    }
    .contenedor-{
        &logo,
        &menu{
            width: 12vw;
            height: auto;
            margin: 1vw;
        }
        &iconos{
            height: auto;
        }
    }
    .recogida{
        height: 0;
    }
    .fondo-barra{
        transition: all 0.3s ease-in-out;
        height: 0;
    }

    .cortina-menu div{
        top: $margenResponsive;
        bottom: 0;
        &:nth-of-type(2){left: 0};
        &:nth-of-type(1){right: 0};
    }

    input[type="checkbox"]:checked {        //Animaciones producidas cuando se pulsa menú
    
        ~ .cortina-menu div{
        width: 100vw-2*$margenResponsive;
        }

        + .barra-superior .fondo-barra{
            height: 14vw;
        }
    }
    .iconos-redes{
        width: $margenResponsive !important;
    }

    .contenedor-redes{
        height: $margenResponsive !important;
        bottom: -14vw !important;
        .mostrar{transform: translateY(-$margenResponsive) !important}
    }

    nav ul{
        padding: 1em;
        padding-top: $margenResponsive*0.5;
        padding-bottom: 2em;
        li{padding: 0.2em}

    }

    //.flecha{display: none}

}

@media screen and (min-width: 501px) and (max-width: 1450px) and (orientation: landscape){
    .barra-superior{
        background: transparent;
    }
    .fondo-barra{
        background: transparent;
    }

    .pie{display: none}

    .cortina-menu div{
        top: 0;
        bottom: 0;
    }

    nav ul{
        padding-top: $margenCuadro;
        padding-bottom: $margenCuadro;
    }
}
