header .cortina-menu{
    background-color: $colorFuente;
    position: fixed;
    top: $margenCuadro;
    bottom: $margenCuadro;
    width: 0vw;
    z-index: 20;
    transition: all 0.3s ease-in-out;   //Para animación de la cortina cuando se despliega el menú
    &:nth-of-type(1){left: $margenCuadro - 0.2vw};
    &:nth-of-type(2){right: $margenCuadro - 0.2vw};
}

nav{
    height: auto;
    position:fixed;
    top: $margenCuadro;
    left: $margenCuadro;
    width: $anchoContenedor;
    z-index: 30;
    //display:none;
    opacity: 0;
    transition: 0.3s;
    ul{
        height: auto;
        display: none;
        flex-direction: column;
        padding: 1em;
        li{
            font-size: 3vmax;
            color: $colorFondo;
            font-weight: 900;
            flex: 0;
            padding: 0.1em;
            &:nth-child(6){flex:1;}
        }
    }
}

nav ul li a{
    color: $colorFondo;

}

// ------------------ANIMACIONES-------------------------------


svg path{
    transition: 0.2s;
}

input[type="checkbox"]:checked {        //Animaciones producidas cuando se pulsa menú
    
    ~ header .cortina-menu{
    width: 51vw;
    }
    
    + label #arriba{
        d: path("M22.2,22.2 L77.5,77.5");
    }
    
    + label #abajo{
        d: path("M22.2,77.5 L77.5,22.2");
    }

  /*  ~ header nav{
        display: block; 
        opacity: 100;
        ul{display:flex;}
    }*/
}
