$tipografia: 'Lato', sans-serif;
$margenCuadro: 5vw;
$margenResponsive: 14vw;
$anchoContenedor: 100% - 2*$margenCuadro/1vw*1%;
$colorFuente: rgb(43, 43, 43);
$colorCabecera: white;
$curvaRebote: cubic-bezier(0.670, 0.080, 0.250, 1.505);
$curvaRedes:cubic-bezier(.55,-3,.55,4);
$colorFondo: rgb(255, 255, 255);
$colorAbout: #F14553;
$cursorPointer: url('../img/iconos/pointergrande.png');
$cursorSeleccion: url('../img/iconos/copiar-pointer.svg');

//Z-index de capas fijas y absolutas:
$zIndexGraficoCarga: 150;
$zIndexContenedorIconos: 100;
$zIndexFooter:10;
$zIndexCortinasMenu: 20;
$zIndexMenu:30;
$zIndexAbout: 40;
$zIndexFondoBarra: 35;
$zIndexIconosRedes: 45;

@import 'generales';
@import 'barraSuperior';
@import 'cabecera';
@import 'menu';
@import 'main';
@import 'footer';
@import 'interaccion';
@import 'mediaqueris';
@import 'about';
