@media screen and (max-width:500px){
   
   
    .barra-superior{
        height: 14vw;
        background: transparent;
        overflow: visible;
    }
    .contenedor-{
        &logo,
        &menu{
            width: 12vw;
            height: auto;
            margin: 1vw;
        }
        &iconos{
            height: auto;
        }
    }

    nav ul{
        padding: 15vw;
    }

    .iconos-redes{
        width: $margenResponsive !important;
    }

    .contenedor-redes{
        height: $margenResponsive !important;
        bottom: -14vw !important;
        .mostrar{transform: translateY(-$margenResponsive) !important}
    }

    nav ul{
        padding: 1em;
        padding-top: $margenResponsive*1.5;
        padding-bottom: 2em;
        li{padding: 0.2em}

    }

   
}

@media screen and (max-width: 1100px){
    #work .texto{
        width: 90%;
        margin: $margenCuadro;
        margin-bottom: 0;
        position: static;
        overflow: hidden;
        p{
            float: right;
            width: 60vw;
        }

    }

    #contenedor{
        margin-top: 0;
    }
}