#contenedor{
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
    margin-top: 50vh;
    margin-bottom: 25vh;
    padding:0;
}

.row{
    display: flex;
    width: 100%;
    padding-top: 7vh;
}

.row-doble{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 5vh;
}



.row .row-children{
    flex: 0 0 75%;
    max-width: 900px;
}

.row-doble .row-children{
    flex: 0 0 48%;

}

.derecha{
    flex-direction: row-reverse;
}

#work .texto{
    position: absolute;
    font-size: 5vmin;
    color: $colorFuente;
    top: 10vh;
    width:60vw;
    right: 5vw;
    font-weight: 600;
    p{text-align: right;}
    z-index: 10;
}

#work img{
    opacity: 0;
    @at-root .cambio-opacidad{
        animation: cambioOpacidad 1.5s 0.3s;
        animation-fill-mode: forwards;
    }
}

.abajo{margin-top: 27vw;}

.vertical .row-children{
    flex: 0 0 48%;
}

.absolute{
    background: $colorSecundario;
    transition: 0.5s ease-in-out; 
}

.mover{
    transform: translateY(-100px);
}

@keyframes cambioOpacidad{
    from{opacity: 0}
    to{opacity:1}
}


