#contenedor{
    max-width: 1500px;
    width: 90%;
    margin: 0 auto;
    padding:0;
}

.row{
    display: flex;
    width: 100%;
    padding-top: 5vh;
}

.row-children{
    flex: 0 0 75%;
    max-width: 700px;
}

.derecha{
    flex-direction: row-reverse;
}

#work .row img{
    width: 100%; 
}

.absolute{
    background: thistle;
    transform: translateY(100px);
}



