$tipografia: 'Lato', sans-serif;
$margenCuadro: 5vw;
//$margenResponsive: 10vw;
$anchoContenedor: 100% - 2*$margenCuadro/1vw*1%;
$colorFuente:  rgb(43, 43, 43);
$curvaRebote: cubic-bezier(0.670, 0.080, 0.250, 1.505);
$curvaRedes:cubic-bezier(.55,-3,.55,4);
$colorFondo: rgb(255, 255, 255);
$colorAbout: #F14553;
$colorSecundario:pink;
$colorTextoMenu: $colorFuente;
$margenResponsive: 14vw;
$cursorPointer: url('../img/iconos/pointer.svg');

//Z-index de capas fijas y absolutas:
$zIndexContenedorIconos: 100;
$zIndexFooter:10;
$zIndexCortinasMenu: 20;
$zIndexMenu:30;
$zIndexAbout: 40;
$zIndexFondoBarra: 35;
$zIndexIconosRedes: 45;

@import 'colores';
@import '../_generales.scss';
@import '../_about.scss';
@import '../_menu.scss';
@import '../_barraSuperior.scss';
@import 'mainPatterns';
@import 'sobrescritos';
@import 'mediaquerisPag';

